cmake-build-debug
cmake-build-release
cmake-build-debug-event-trace
.DS_Store

*.idea
__pycache__

*.d

*.slo
*.lo
*.o
*.obj

*.gch
*.pch

*.so
*.dylib
*.dll

*.mod
*.smod

*.lai
*.la
*.a
*.lib

*.exe
*.out
*.app
